{% extends "base.html" %}

{% block title %} List Tracks | {% endblock %}
{% block flattr_title %}{% filter urlencode %}List Tracks - River View Player 2.0{% endfilter %}{% endblock %}
{% block headlinks %}
{% endblock %}

{% block content_part %}	

		<div id="titlefield">
			<span id="title">River Studies / List Tracks</span> 
		</div>

	{% if tracks %}

	<div id="content">
	<h2>List of recorded sessions</h2>
	<div id="track_list_data">	

	{% include "riverviews/tracklist_fragment.html" %}
	
	{% endif %}
	</div>
	</div>


{% endblock %}
