<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>River Studies | River View Player 2.0 (Beta)</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />		    
		<link rel='stylesheet' href='/media/css/riverviews.css' type='text/css' />
		<script src="/media/js/openlayers/OpenLayers.js" type="text/javascript"></script>
		<script src="/media/js/jquery-1.7.min.js" type="text/javascript"></script>
		<script src="/media/js/riverviews.js" type="text/javascript"></script>
	</head>
	  
	<body onload='river.load({{track.id}},{{offset}})'>

		<div id="headinfo" class="toplink">
			River Studies | River View Player 2.0 (Beta)
			<span id="show_all">
			<a href="#">Show All Tracks</a>  
			</span> / <a id="show_about" href="#">About</a> /
			</div>
		<div id="titlefield">
			{{track.river.name}}: <span id="title"> {{track.title}} </span> 
		</div>
		<div id="side_right" class="toplink" >
			<a id="show_labels" href="#">Show Labels</a>
		</div>
		
		<div id="info" class="overlay">
			<!--RIVER: <span class="overlay">{{track.river.name}}</span><br />-->
				
			{% if track.camera %}
				CAMERA: <span class="overlay">{{track.camera}}</span><br />
			{% endif %}
			{% if track.time %}
				DATE: <span class="overlay">{{track.time}} (UTC)</span><br />
			{% endif %}
			{% if track.length %}
				LENGTH: <span class="overlay">{{track.length|floatformat}} km</span><br />
			{% else %}
				<span class="overlay">NO GPS DATA AVAILABLE!</span><br />
			{% endif %}			
			{% if track.desc %}
				DESCRIPTION: <span class="overlay">{{track.desc}}</span><br />
			{% endif %}
			<div id="show_track" class="button geoinfo" title="show track">show track</div>
		</div>
		
		
		<div id="controls">	
			<div id="back" class="img_button rewind" title="rewind">&nbsp;</div>
			<div id="play" class="img_button play" title="play/pause">&nbsp;</div>
			<div id="forward" class="img_button forward" title="fast forward">&nbsp;</div>
			<div class="img_button_label">Speed</div>
			<div id="faster" class="img_button plus" title="faster">&nbsp;</div>
			<div id="slower" class="img_button minus" title="slower">&nbsp;</div>			
			<div class="img_button_label">Zoom</div> 
			<div id="zoomin" class="img_button plus" title="zoom in">&nbsp;</div>
			<div id="zoomout" class="img_button minus" title="zoom out">&nbsp;</div>
		</div>			
	
		<div id="river"></div>

		<div id="gpsinfo" class="geoinfo">
			
			<div id="log_left" class="overlay">
				LAT=<span class="lat">n/a</span>° 
				LON=<span class="lon">n/a</span>°
				<!--ALT=<span class="alt">n/a</span>m-->
				<!--SPD=<span class="spd">n/a</span> km/h
				DIST=<span class="dist">n/a</span>km-->
			</div>
		 
			 <div id="log_right" class="overlay">
				LAT=<span class="lat">n/a </span>° 
				LON=<span class="lon">n/a </span>°
				<!--ALT=<span class="alt">n/a</span>m-->
				<!--SPD=<span class="spd">n/a</span> km/h
				DIST=<span class="dist">n/a</span>km-->
			 </div>
		 
			 <div id="log_center" class="overlay">DIST: <span class="dist"> n/a </span>km</div>
			 <div id="date_left" class="overlay">UTC=<span class="date"> n/a </span></div>
			 <div id="date_right" class="overlay">UTC=<span class="date"> n/a </span></div>			

			 <div id="map_button" class="button">show map</div>
			 <div id="gray"></div>
			 <div id="ol_map"></div>
				
			 <div id="track_map">
				<div id="track_map_head" class="window_head">
					<div id="track_map_title" class="window_title">overview of recorded track [total length: {{track.length|floatformat}} km]</div>
					<div id="track_map_close" class="button  window_close">x</div>
				</div>
			 </div>
		</div>
		<div id="status_msg"></div>

		 
		<div id="debug" class="overlay logs"></div>
		<div id="track_list" class="window">
			<div id="track_list_head" class="window_head">
				<div id="track_list_title" class="window_title">list of recorded river tracks</div>
				<div id="track_list_close" class="button window_close">x</div>
			</div>
			<div id="track_list_data"></div>
		</div>

		<div id="about" class="window">
			<div id="about_head" class="window_head">
				<div id="about_title" class="window_title">ABOUT</div>
				<div id="about_close" class="button window_close">x</div>
			</div>
			<div id="about_content">
				<p>River Studies is an ongoing long-term artistic research project about exploring the relationship of rivers and its people, rivers and its transforming cultural landscape, rivers and their function as carrier of cultural landscapes and identities. It utilizes custom, combined and unique methods in digital photography, data visualization, cartography and cultural mapping.</p>
				
				<p>Rivers are natural waterways and lifelines of cultures with complexe, diverse and ambivalent historical and contemporary roles. Rivers are connecting as well as bordering, they are deployed as routes for trade, as routes of military actions, as a place of religious worships or as a purely economical resource. However rivers play an important role in every culture and nation around them: Their basins give water and therefor life to the people..</p>

				<p>It has a long tradition to understand rivers as veins and lifelines of the 'system' Earth and as a consequence: humanity. It might have an even longer history to understand rivers as a timeless metaphor for life or the flow of history. That is one thing that makes rivers outstanding and quite fascinating. My other primary interest is to understand rivers as intersection and connection lines through continents, peoples and cultures - cross lines that form a landscape of natural features and accumulated history, a landscape that is as much a cultural as a geographic landscape.</p>
				<p><a href="http://m.ash.to">Michael Aschauer</a>, 2012</p>
			</div>
		</div>		
		
		<script type="text/javascript" >resize()</script>

		<div id="footer">
			&copy 2005-2011, <a href="http://m.ash.to">Michael Aschauer</a> / <a href="http://www.riverstudies.org">riverstudies.org</a>
		</div>

		<!-- Piwik -->
		<script type="text/javascript">
			var pkBaseURL = (("https:" == document.location.protocol) ? "https://m.ash.to/piwik/" : "http://m.ash.to/piwik/");
			document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
			</script><script type="text/javascript">
			try {
			var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 5);
			piwikTracker.trackPageView();
			piwikTracker.enableLinkTracking();
			} catch( err ) {}
		</script><noscript><p><img src="http://m.ash.to/piwik/piwik.php?idsite=5"
		style="border:0" alt="" /></p></noscript>
		<!-- End Piwik Tracking Code -->		

	</body>
</html>
