{% extends "base.html" %}

{% block title %} List Tracks | {% endblock %}
{% block flattr_title %}{% filter urlencode %}List Tracks - River View Player 2.0{% endfilter %}{% endblock %}
{% block headlinks %}
{% endblock %}

{% block content_part %}	

		<div id="titlefield">
			<span id="title">River Studies / List Tracks</span> 
		</div>

	{% if tracks %}

	<div id="content">
	<h2>List of recorded sessions</h2>
	<div id="track_list_data">	
	<table>
		{% for track in tracks %}    
		<tr>
			<td class="rivername">
				{% ifchanged %}
					{{ track.river.name }}
				{% endifchanged %}
			</td>
			<td class="trackname">
				<a class="link" href="/view/{{ track.name }}">{{ track.title }}</a>
			</td>		
			<td class="tracklength">
				{% if track.length %}
					{{ track.length|floatformat }} km</a>
				{% else %}
					N/A
				{% endif %}
			</td>
			<td class="trackyear">
				{{ track.time|date:"Y"|upper }}
			</td>			
		</tr>
		<!--{ last_river = track.river.name }-->

		{% endfor %}
	</table>
	{% endif %}
	</div>
	</div>


{% endblock %}
